<%- include('partials/header') -%>



<form class="newContainer" action="/" method="put">


    <h2 class="post">Edit</h2>
    
    <div class="mb-3">
        <label for="title" class="form-label"><b>Title</b></label>
        <input type="text" class="form-control" id="text">
    </div>
    
    <div class="mb-3">
        <label for="content" class="form-label"><b>Content</b></label>
        <textarea class="form-control" id="content" rows="3"></textarea>
    </div>
    
      <button type="submit" class="btn btn-primary mb-3">Update</button>
    
    </form>
    

<%- include('partials/footer') -%>
