<%- include('partials/header') -%>


<div class="container">
    <img class="bg" src="/images/desk.jpg" alt="desk" >
    <h1 class="post">Stories I want to tell you...</h1>
    
</div>



    




<%- include('partials/footer') -%>
