<%- include('partials/header') -%>


    <img class="bg" src="/images/computer.jpg" alt="computer" >

<h2>Stories</h2>
<p><b><%= title %></b></p>
<p><%= content %></p>




<%- include('partials/footer') -%>





